@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
    min-height: 100vh;
    text-align: center;
    
}


imgClass {
    max-width: 80%;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
}

h3 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

input {
    margin: 1.5vh;
}

.memes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.frmClass {
    margin: 12vh;
    min-width: 60%;
    max-width: 80%;
    margin-top: 8vh;
    display: block;
    text-align: center;

}

